$form-background: #f9f9f9;
$input-background: #ffffff;
$input-border: 1px solid #ccc;
$input-padding: 8px;
$label-color: #333;
$button-background: #007bff;
$button-color: #fff;
$button-hover-background: #0056b3;

form {
    background-color: $form-background;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: calc(100vw - 5%);
    height: calc(100ww - 5%);
    margin: 2rem;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    div {
        margin-bottom: 15px;

        label {
            color: $label-color;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="datetime-local"],
        textarea {
            width: 100%;
            padding: $input-padding;
            border: $input-border;
            border-radius: 5px;
            background-color: $input-background;
            font-size: 16px;
            margin-top: 5px;
        }

        button[type="submit"] {
            background-color: $button-background;
            color: $button-color;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $button-hover-background;
            }
        }
    }
}