<main>
  <section class="forms-section">
    <h1>Summit</h1>
    <h2>{{title}}</h2>
    <ng-content></ng-content>
    
    <div class="Btn-Wrapper">
        <button 
          class="Btn-primary" 
          (click)="submit()"
          [disabled]="disablePrimaryBtn">
          {{primaryBtnText}}
          </button>      
      <div class="divider">
        <div class="divline"></div>
        <span>or</span>
        <div class="divline"></div>
      </div>
      <button class="Btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Summit</h1>
    <h3>Simplificando Descobertas </h3>

    <img src="/assets/svg/Summit.svg" width="300" alt="">
  </section>
</main>