<app-default-login-layout
    title="Faça Login em sua conta"
    primaryBtnText="Cadastrar"
    secondaryBtnText="Login"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!registerForm.valid"
>

    <form [formGroup]="registerForm">

        <app-primary-input
            formControlName="Nome"
            inputName="Nome"
            type="text"
            label="Nome"
            placeholder="Nome">
            <img src="../../../assets/svg/email.svg" alt="">
        </app-primary-input>

        <app-primary-input
            formControlName="Email"
            inputName="Email"
            type="email"
            label="Email"
            placeholder="Email">    
            <img src="../../../assets/svg/email.svg" alt="">
        </app-primary-input>

        <app-primary-input
            formControlName="Password"
            inputName="Password"
            type="password"
            label="Senha"
            >
            <img src="../../../assets/svg/lock.svg" alt="">
        </app-primary-input>

        <app-primary-input
            formControlName="ConfirmPassword"
            inputName="ConfirmPassword"
            type="password"
            label="Confirme sua senha"
            >
            <img src="../../../assets/svg/lock.svg" alt="">
        </app-primary-input>

    </form>

</app-default-login-layout>